<h2>Duck New Page</h2>


<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
    <li>
        <%= error %>
    </li>
    <% end %>
  </ul>
<% end %>

<%= form_for :duck do |f| %>
    Name: <%= f.text_field :name  %>
    Description: <%= f.text_field :description %>
    Student: <%= f.collection_select :student_id, @students, :id, :name%>
    <%= f.submit :submit  %>
<% end %>

