<h1>Create a new duck!</h1>

<%if flash[:messages]%>
  <h2><%=flash[:messages]%></h2>
<%end%>

<%= form_for @duck do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %></br>
  <%= f.label :description %>
  <%= f.text_area :description %></br>
  <%= f.label "Owning Student"%>
  <%= f.collection_select :student_id, @students, :id, :name  %></br>
  <%= f.submit :submit %>
<% end %>

