<h1>New Duck Form</h1>
<%if flash[:messages]%>
    <h2><%=flash[:messages]%></h2>
<%end%>
<%= form_for @duck do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :description %>
    <%= f.collection_select(:student_id, Student.all, :id, :name) %>
    <%= f.submit %>
<% end %>