<h1><%= @duck.name %></h1>
<h3>Description: <%= @duck.description %></h3>
<h3>Student: <%= link_to @duck.student.name, student_path(@duck.student) %></h3>
<br>
<p><%= link_to "Back to Ducks", ducks_path %></p>
<p><%= link_to "Edit Duck", edit_duck_path(@duck) %></p>
<p><%= link_to "Delete Duck", duck_path(@duck) ,method: :delete, data: {confirm: "Are you sure you want to delete this duck?"} %></p>